<section class="section about-me" data-section="section1">
  <div class="container">
    <div class="section-heading">
      <h2>My Work Experience</h2>
      <div class="line-dec"></div>
      <span><b>
        Actively seeking full time software development opportunities for 2021
        </b> </span>

        </div>

        <div class="card-deck">
          <div class="card">
            <div class="card-header">
              <a href="https://healthcare.ascension.org/" target="blank">
                <img class="card-img-top center" id="ascension" src="../assets/images/ascension-logo.png" alt="Ascension"/>
                <h2>Ascension</h2>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title"><b>Software Development Intern</b><br/></h5>
              <p class="card-title"><b>(June 2020 - present)</b><br/><br/></p>
              <p class="card-text">
                • Collaborated with the back-end team in Agile fashion for developing COVID-19 selfassessment web and voice chat bots using Spring Boot microservices and RESTful APIs.
                <br/><br/>
                • Improved the code coverage by performing Behavior Driven Development testing using
                Cucumber and Gherkin.
                <br/><br/>
                • Worked on integrating Google Analytics client with the back-end code to track the events.
                <br/><br/>
                • Designed and onboarded API proxies by implementing security, mediation, and traffic
                management policies for various company projects using Apigee.
                <br/><br/>
                • <b>Technologies used:</b> Java, Spring Boot, Apigee, Twilio APIs, Pivotal Cloud Foundry, Google
                Analytics, Google Dialogflow, Cucumber, Google Stackdriver
                <br/><br/>
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Chicago, Illinois, United States</small>
            </div>

          </div>


          <div class="card">
            <div class="card-header">
              <a href="https://www.facebook.com/metdine/" target="blank">
                <img class="card-img-top center" id="metdine" src="../assets/images/metdine-logo.jfif" alt="Metdine"/>
                <h2>Metdine Online Services</h2>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title"><b>Software Development Intern</b><br/></h5>
              <p class="card-title"><b>(Deccember 2017 - April 2018)</b><br/><br/></p>
              <p class="card-text">
                • Developed an online food ordering app on the Android platform.
                <br/><br/>
                • Designed the user interface for the app. Implemented the front-end functionalities for
                interaction by the users.
                <br/><br/>
                • Managed six peers on project by directing them on workflow and functional aspects of the
                project.
                <br/><br/>
                • <b>Technologies used:</b> Android SDK, Java, XML
                <br/><br/>
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Hyderabad, India</small>
            </div>

          </div>

        </div>



  </div>
</section>
