<section class="section about-me" data-section="section1">
  <div class="container">
    <div class="section-heading">
      <h2>About Me</h2>
      <div class="line-dec"></div>
      <span><b>
        Hi there! I am Nitya Mula, a Software Development Enthusiast and this is my little corner
        on the Internet. I am obsessed with coming up with creative solutions and even
        more obsessed with making them better. I am a passionate programmer. </b> </span><br/>
        <span><b>
          When I am not coding, I am probably hanging out with my friends or enjoying good music. </b></span>
          <br/>
          <span><b>
            Believe in advance planning to avoid timely surprises.
            Possesses a proper blend of hardwork and smartwork.</b>
          </span>
        </div>

        <div class="card-deck">
          <div class="card">
            <div class="card-header">
              <a href="https://www.uic.edu/" target="blank">
                <img class="card-img-top center" id="uic" src="../assets/images/uic-logo.png" alt="UIC"/>
                <h2>University of Illinois at Chicago</h2>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title"><b>Masters of Science</b></h5>
              <p class="card-text">
                Department of Computer Science<br/>
                August 2019 - May 2021 (expected)<br/>
                CGPA - 4.0/4.0
              </p>
            </div>

          </div>

          <div class="card">
            <div class="card-header">
              <a href="https://jntuhceh.ac.in/" target="blank">
                <img class="card-img-top center" id="jntu" src="../assets/images/jntu-logo.jpg" alt="JNTU"/>
                <h2>Jawaharlal Nehru Technological University Hyderabad</h2>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title"><b>Bachelors of Technology</b></h5>
              <p class="card-text">
                Department of Computer Science<br/>
                August 2015 - May 2019<br/>
                CGPA - 9.84/10
              </p>
            </div>

          </div>

        </div>



  </div>
</section>
