<div id="page-wraper">
  <!-- Sidebar Menu -->
  <div class="responsive-nav">
    <i class="fa fa-bars" id="menu-toggle"></i>
    <div id="menu" class="menu">
      <i class="fa fa-times" id="menu-close"></i>
      <div class="container">
        <div class="image">
          <a href="#"><img src="assets/images/nitya-mula.png" alt="" /></a>
        </div>
        <div class="author-content">
          <h4>Nitya Mula</h4>
          <span>Software Developer</span>
          <a href="https://drive.google.com/file/d/1iEwATnMeXu1bj2w0YgdIkZXlA_YK-6Ix/view?usp=sharing" target="blank"><h5><span>View Resume</span></h5></a>
        <div>

        </div>
        <nav class="main-nav" role="navigation">
          <ul class="main-menu">
            <li><a routerLink="/AboutMe">About Me</a></li>
            <li><a routerLink="/MyServices">What I’m good at</a></li>
            <li><a routerLink="/Experience">Experience</a></li>
            <li><a routerLink="/MyWork">Projects</a></li>
            <li><a routerLink="/ContactMe">Contact Me</a></li>
          </ul>
        </nav>
        <div class="social-network">
          <ul class="soial-icons">
            <li>
              <a href="https://www.linkedin.com/in/nitya-mula" target="_blank"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="https://github.com/Nitya-Mula" target="_blank"><i class="fa fa-github"></i></a>
            </li>

          </ul>
        </div>
        <div class="copyright-text">
          <p>Copyright 2019 Reflux Design</p>
        </div>
      </div>
    </div>
  </div>

<!-- <app-intro>

</app-intro>

<app-myservices>

</app-myservices>

<app-mywork>

</app-mywork>

<app-contactme>

</app-contactme> -->
<router-outlet></router-outlet>
  </div>
