<section class="section my-work" data-section="section3">
  <div class="container">
    <div class="section-heading">
      <h2>My Projects</h2>
      <div class="line-dec"></div>
      <span>
        <b>“When you don't create things, you become defined by your tastes rather than ability.”</b><br/>
        </span
      >
    </div>
    <!-- <div class="row">
      <div class="isotope-wrapper">
        <form class="isotope-toolbar">
          <label
            ><input
              type="radio"
              data-type="*"
              checked=""
              name="isotope-filter"
            />
            <span>all</span></label
          >
          <label
            ><input
              type="radio"
              data-type="people"
              name="isotope-filter"
            />
            <span>people</span></label
          >
          <label
            ><input
              type="radio"
              data-type="nature"
              name="isotope-filter"
            />
            <span>nature</span></label
          >
          <label
            ><input
              type="radio"
              data-type="animals"
              name="isotope-filter"
            />
            <span>animals</span></label
          >
        </form>
        <div class="isotope-box">
          <div class="isotope-item" data-type="nature">
            <figure class="snip1321">
              <img
                src="assets/images/portfolio-01.jpg"
                alt="sq-sample26"
              />
              <figcaption>
                <a
                  href="assets/images/portfolio-01.jpg"
                  data-lightbox="image-1"
                  data-title="Caption"
                  ><i class="fa fa-search"></i
                ></a>
                <h4>First Title</h4>
                <span>free to use our template</span>
              </figcaption>
            </figure>
          </div>

          <div class="isotope-item" data-type="people">
            <figure class="snip1321">
              <img
                src="assets/images/portfolio-02.jpg"
                alt="sq-sample26"
              />
              <figcaption>
                <a
                  href="assets/images/portfolio-02.jpg"
                  data-lightbox="image-1"
                  data-title="Caption"
                  ><i class="fa fa-search"></i
                ></a>
                <h4>Second Title</h4>
                <span>please tell your friends</span>
              </figcaption>
            </figure>
          </div>

          <div class="isotope-item" data-type="animals">
            <figure class="snip1321">
              <img
                src="assets/images/portfolio-03.jpg"
                alt="sq-sample26"
              />
              <figcaption>
                <a
                  href="assets/images/portfolio-03.jpg"
                  data-lightbox="image-1"
                  data-title="Caption"
                  ><i class="fa fa-search"></i
                ></a>
                <h4>Item Third</h4>
                <span>customize anything</span>
              </figcaption>
            </figure>
          </div>

          <div class="isotope-item" data-type="people">
            <figure class="snip1321">
              <img
                src="assets/images/portfolio-04.jpg"
                alt="sq-sample26"
              />
              <figcaption>
                <a
                  href="assets/images/portfolio-04.jpg"
                  data-lightbox="image-1"
                  data-title="Caption"
                  ><i class="fa fa-search"></i
                ></a>
                <h4>Item Fourth</h4>
                <span>Re-distribution not allowed</span>
              </figcaption>
            </figure>
          </div>

          <div class="isotope-item" data-type="nature">
            <figure class="snip1321">
              <img
                src="assets/images/portfolio-05.jpg"
                alt="sq-sample26"
              />
              <figcaption>
                <a
                  href="assets/images/portfolio-05.jpg"
                  data-lightbox="image-1"
                  data-title="Caption"
                  ><i class="fa fa-search"></i
                ></a>
                <h4>Fifth Awesome</h4>
                <span>Ut sollicitudin risus</span>
              </figcaption>
            </figure>
          </div>

          <div class="isotope-item" data-type="animals">
            <figure class="snip1321">
              <img
                src="assets/images/portfolio-06.jpg"
                alt="sq-sample26"
              />
              <figcaption>
                <a
                  href="assets/images/portfolio-06.jpg"
                  data-lightbox="image-1"
                  data-title="Caption"
                  ><i class="fa fa-search"></i
                ></a>
                <h4>Awesome Sixth</h4>
                <span>Donec eget massa ante</span>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div> -->

    <div class="card-deck">

      <div class="row">


        <div class="card">
          <div class="card-header">
            <a href="https://github.com/saisuma29/census_income" target="blank">
              <img class="card-img-top center" id="census-income-data" src="../assets/images/census-income-data.png" alt="Analyzing Census Income data"/>
              <br/><h2>Analyzing Census Income data</h2>
            </a>
          </div>
          <div class="card-body">
            <!-- <h5 class="card-title"><b>Analyzing Census Income data</b><br/></h5> -->
            <p class="card-title"><i>An analysis of census income data inorder to predict the income class of an individual based on his/her attributes.</i><br/><br/></p>
            <p class="card-text">
              • Performed data preprocessing to handle unwanted data and missing values.
              <br/><br/>
              • Analyzed different categories in the data and recognized the trends.
              <br/><br/>
              • Trained various machine learning models like Random forest, Decision trees, neural networks etc and predicted the income for a set of attributes with an accuracy of 98%.
              <br/><br/>
              • <b>Technologies used:</b> Python
              <br/><br/>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">May 2020</small>
          </div>

        </div>



        <div class="card">
          <div class="card-header">
            <a href="https://github.com/kgarg8/gesture-recognition" target="blank">
              <img class="card-img-top center" id="gesture-recognition" src="../assets/images/hand-gesture-recognition.jpg" alt="Hand Gesture Recognition"/>
              <br/><h2>Hand Gesture Recognition</h2>
            </a>
          </div>
          <div class="card-body">
            <!-- <h5 class="card-title"><b>Hand Gesture Recognition</b><br/></h5> -->
            <p class="card-title"><i>An application that can recognize the hand gestures from a live video sequence / images and accordingly perform some actions based on the gesture recognized.
            </i><br/><br/></p>
            <p class="card-text">
              • Performed background subtraction and thresholding to segment the hand region.
              <br/><br/>
              • Implemented the contour extraction algorithm to identify the gesture and perform associated actions.
              <br/><br/>
              • Extended the functionality to more number of gestures using deep learning techniques. Performed data augmentation measures to improve the accuracy of the model.
              <br/><br/>
              • Trained various convolutional networks like VGG-16, ResNet, Inception v-3. Achieved an accuracy ranging from 99.88% to 100% when tested on various CNNs.
              <br/><br/>
              • <b>Technologies used:</b> Python, Tensorflow

              <br/><br/>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">May 2020</small>
          </div>

        </div>

      </div>

      <div><p><br/><br/></p></div>
  <!-- End of a row -->


      <div class="row">


        <div class="card">
          <div class="card-header">
            <a href="https://github.com/Nitya-Mula/Optical-flow-and-Motion-Segmentation" target="blank">
              <img class="card-img-top center" id="optical-flow" src="../assets/images/optical-flow.jfif" alt="Optical Flow and Motion Segmentation"/>
              <br/><h2>Optical Flow and Motion Segmentation</h2>
            </a>
          </div>
          <div class="card-body">
            <!-- <h5 class="card-title"><b>Optical Flow and Motion Segmentation</b><br/></h5> -->
            <p class="card-title"><i>A system that detects motion in a video frame</i><br/><br/></p>
            <p class="card-text">
              • Implemented several techniques like the dense and sparse Lucas Kanade algorithm to identify the moving pieces in a video stream.
              <br/><br/>
              • Alos performed several frame differencing methods to identify the significant motion.
              <br/><br/>
              • Tested on various threshold levels to find the optimal and most accurate value for detection.
              <br/><br/>
              • <b>Technologies used:</b> Python

              <br/><br/>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">March 2020</small>
          </div>

        </div>

        <div class="card">
          <div class="card-header">
            <a href="https://github.com/Nitya-Mula/Image-Stitching" target="blank">
              <img class="card-img-top center" id="image-stitching" src="../assets/images/image-stitching.png" alt="Image stitching"/>
              <br/><h2>Image Stitching</h2>
            </a>
          </div>
          <div class="card-body">
            <!-- <h5 class="card-title"><b>Image stitching</b><br/></h5> -->
            <p class="card-title"><i>An application that stitches two continuous images into one</i><br/><br/></p>
            <p class="card-text">
              • Detected key points by implementing Harris Corner Detection.
              <br/><br/>
              • Extracted local invariant features for two input images and matched the descriptors.
              <br/><br/>
              • Implemented the RANSAC algorithm to estimate the homography matrix and performed panorama stitching.
              <br/><br/>
              • <b>Technologies used:</b> Python
              <br/><br/>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">February 2020</small>
          </div>

        </div>

      </div>

      <div><p><br/><br/></p></div>
  <!-- End of a row -->


      <div class="row">
      <div class="card">
        <div class="card-header">
          <a href="https://github.com/Nitya-Mula/Reservoir-Detector" target="blank">
            <img class="card-img-top center" id="reservoir-detector" src="../assets/images/reservoir-detector.jpeg" alt="Reservoir Detector"/>
            <br/><h2>Reservoir Detector</h2>
          </a>
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title"><b>Reservoir Detector</b><br/></h5> -->
          <p class="card-title"><i>A system that recognizes the presence of reservoirs in an image</i><br/><br/></p>
          <p class="card-text">
            • Gathered a mixture of images with and without reservoirs taken from USDA NAIP satellite
            imagery. Carried out data pre-processing and data augmentation.
            <br/><br/>
            • Implemented VGG-16 and ResNet-50 models to train a Convolutional Neural Network.
            <br/><br/>
            • Acquired an accuracy of about 98% using VGG-16 and 99.5% using ResNet-50 to classify
            the images with reservoirs and terrains using these models.
            <br/><br/>
            • <b>Technologies used:</b> Keras, Python, Jupyter
            <br/><br/>
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">November 2019</small>
        </div>

      </div>

      <div class="card">
        <div class="card-header">
          <a href="https://github.com/Nitya-Mula/Visualizing-Symptom-Clusters-for-head-and-neck-cancer-patients" target="blank">
            <img class="card-img-top center" id="patient-cluster-visualization" src="../assets/images/symptoms-cluster.png" alt="Patient Symptoms Visualization System"/>
            <br/><h2>Patient Symptoms Visualization System</h2>
          </a>
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title"><b>Patient Symptoms Visualization System</b><br/></h5> -->
          <p class="card-title"><i>A system that visualizes symptom clusters for Head and Neck Cancer Patients</i><br/><br/></p>
          <p class="card-text">
            • To analyse health patterns of patients who underwent radiation therapy over a time period.
            <br/><br/>
            • Collected datasets containing information about 50 patients and symptom ratings during
            radiation therapy (MDASI- Head and Neck Module Items). Worked on a team of three.
            <br/><br/>
            • Created multiple visual encodings like radar charts, tendril plots and implemented a smooth
            flow for interactions from the user.
            <br/><br/>
            • <b>Technologies used:</b> D3.js, JavaScript, Pandas, Jupyter, HTML, CSS

            <br/><br/>
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">October 2019 - November 2019</small>
        </div>

      </div>

    </div>

    <div><p><br/><br/></p></div>
<!-- End of a row -->

<div class="row">
  <div class="card">
    <div class="card-header">
      <!-- <a href="" target="blank"> -->
        <img class="card-img-top center" id="track-me" src="../assets/images/track-me.jfif" alt="Track Me"/>
        <br/><h2 style="color:darkcyan;">Track Me</h2>
      <!-- </a> -->
    </div>
    <div class="card-body">
      <!-- <h5 class="card-title"><b>Track Me</b><br/></h5> -->
      <p class="card-title"><i>An Employee Tracking app</i><br/><br/></p>
      <p class="card-text">
        • Helps managers keep track of their employees, check their location, monitor activities, assign
        tasks, and check the status of the work.
        <br/><br/>
        • Designed the user interface, front end functionalities for the android application.
        <br/><br/>
        • <b>Technologies used:</b> Android SDK, Java, XML, MySQL, Google Cloud Platform

        <br/><br/>
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">January 2019 - April 2019</small>
    </div>

  </div>

  <div class="card">
    <div class="card-header">
      <!-- <a href="" target="blank"> -->
        <img class="card-img-top center" id="helping-guide" src="../assets/images/helping-guide.png" alt="Helping Guide"/>
        <br/><h2 style="color:darkcyan;">Helping Guide</h2>
      <!-- </a> -->
    </div>
    <div class="card-body">
      <!-- <h5 class="card-title"><b>Helping Guide</b><br/></h5> -->
      <p class="card-title"><i>A system that acts as a location guide</i><br/><br/></p>
      <p class="card-text">
        • Developed an application for my college that guides guests with the areas in and around the
        college.
        <br/><br/>
        • Extracted the location of user from the metadata of the image and displayed results on a map.
        <br/><br/>
        • <b>Technologies used:</b> Python and Google Map APIs
        <br/><br/>
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">August 2018</small>
    </div>

  </div>

</div>
<div><p><br/><br/></p></div>
<!-- End of a row -->
    </div>


  </div>
</section>

